@use "../../utils/scss/index.scss" as *;

.section {
  @extend %section;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

.formTitle {
  @extend %formTitle;
}

.contactForm {
  @extend %form;
}

.label {
  @extend %label;
}

.input {
  @extend %input;
}

.fieldName {
  @extend %fieldName;
}

.submitBtn {
  @extend %btn;
  margin-top: 10px;
}

.iconBtn {
  @extend %iconBtn;
  cursor: default;
}

.icon {
  @extend %icon;
}

.formInfo {
  @extend %formInfo;
}
