:root {
  --color-text-main: #617a55;

  --color-bg-main: #fff8de;
  --color-bg-sec: #c1d0b5;
  --color-bg-third: #e2ecde;

  --font-size-main: 16px;
  --font-weight: 500;
  --line-height: 1.25;

  --border-radius: 5px;
  --color-border: #9e9d9d;

  --duration: 250ms;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
