:root {
  --color-text-main: #191919;

  --color-bg-main: #eee;
  --color-bg-sec: #9a39d3;
  --color-bg-third: #f7f7f7;
  --color-bg-active: #7720aa;

  --font-size-main: 16px;
  --font-size-sec: 14px;

  --font-weight: 500;
  --line-height: 1.25;

  --border-radius: 20px;
  --color-border: #9e9d9d;

  --duration: 250ms;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
