%btn {
  width: 90px;
  height: 30px;
  display: grid;
  place-items: center;
  font-weight: var(--font-weight);
  color: var(--color-text-main);
  background-color: var(--color-bg-third);
  border: 1px solid var(--color-border);
  border-radius: var(--border-radius);
  transition-property: color, background-color;
  transition-duration: var(--duration);
  transition-timing-function: var(--timing-function);

  &:hover,
  &:focus-visible {
    color: var(--color-bg-third);
    background-color: var(--color-text-main);
  }

  &:active {
    color: var(--color-bg-third);
    background-color: var(--color-bg-active);
  }
}
