@use "../../utils/scss/index.scss" as *;

.item {
  width: 265px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 5px;
  border: 2px dashed var(--color-bg-sec);
  border-radius: var(--border-radius);
  padding: 15px;
}

.text {
  width: 242px;
  height: 20px;
  text-overflow: ellipsis;
  overflow-x: hidden;
  white-space: nowrap;
}

.name,
.number {
  font-weight: var(--font-weight);
}

.btnBox {
  display: flex;
  gap: 15px;
}

.deleteBtn {
  @extend %btn;
  width: 108px;
  height: 34px;
}

.editBtn {
  @extend %btn;
  width: 108px;
  height: 34px;
}
