@use "../../utils/scss/index.scss" as *;

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 50px;

  @include max-width(768px) {
    padding-inline: 15px;
  }
}

.mainNavList {
  @extend %navList;
}

.mainNavLink {
  @extend %navLink;
}
