@use "../../utils/scss/placeholders/nav.scss" as *;

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 50px;
}

.mainNavList {
  @extend %navList;
}

.mainNavLink {
  @extend %navLink;
}

.isActive {
  @extend %isActive;
}
