@use "src/utils/scss/mixins.scss" as *;

.title {
  margin-bottom: 20px;
}

.contacts {
  @include min-width(401px) {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    padding-left: 20px;
  }
}
