@use "../../utils/scss/index.scss" as *;

.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  text-shadow: 4px 4px 6px #aaa4a4;
  margin-bottom: 20px;
}

.contacts {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}
