@use "../../utils/scss/index.scss" as *;

.userMenu {
  display: flex;
  align-items: center;
  gap: 10px;

  @include max-width(768px) {
    align-items: end;
    flex-direction: column;
    gap: 2px;
  }
}

.userName {
  font-weight: var(--font-weight);

  @include max-width(400px) {
    width: 115px;
    height: 19px;
    text-align: end;
    text-overflow: ellipsis;
    overflow-x: hidden;
    white-space: nowrap;
  }
}

.logoutBtn {
  @extend %btn;
  width: 28px;
  height: 28px;
  border: none;

  &:hover,
  &:focus-visible {
    color: var(--color-bg-sec);
    background-color: var(--color-text-main);
  }

  &:active {
    color: var(--color-bg-sec);
    background-color: var(--color-text-main);
  }
}

.logoutIcon {
  width: 18px;
  height: 18px;
}

.authPendingIcon {
  @extend %authPendingIcon;
  width: 18px;
  height: 18px;
}
